$width_phone: 650px;

$active_color: #ffd900;
$passive_color: #ffd900a0;

$border_light_gray: 1px solid rgba(200,200,200,0.4);

@import "layout/header";
@import "layout/sections";

.nzr-calc-container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-content: center;

  width: 100%;

  box-sizing: border-box;
  padding: 0 20px;

  @media (max-width: $width_phone) {
    padding: 0 5px;
  }

  * {
    font-family: Ubuntu, 'Laila', "Gill Sans", sans-serif;
  }
}


.nzr-calc-button {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid rgba(200,200,200,0.2);
  border-radius: 5px;

  font-size: 22px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #232222;

  background: $passive_color;

  transition: all 0.2s;

  @media (max-width: $width_phone) {
    font-size: 1.2rem;
  }

  &:hover {
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    background: $active_color;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }

  strong {
    font-size: inherit;
    font-weight: 600;
  }
}

.nzr-calc-contact {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__bg {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0,0,0,0.3);
  }

  &__box {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 350px;
    height: 370px;

    border-radius: 5px;
    background: white;

    .amoforms_iframe {
      position: absolute !important;;
      height: auto!important;
      min-height: 100%!important;
      margin: 0!important;
      z-index: 1!important;
    }
  }

  &__close {
    z-index: 2;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 25px;
    height: 25px;

    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;

      width: 15px;
      height: 2px;
      background: red;
    }

    &:after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }

    &:before {
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
}



.nzr-calc-form {

  &__row {
    display: flex;
    align-content: flex-start;

    margin-bottom: 10px;
  }

  &__input-title {
    width: 350px;

    box-sizing: border-box;
    padding-right: 20px;

    font-size: 22px;

    @media (max-width: $width_phone) {
      width: 50%;
      font-size: 1.2rem;
    }
  }

  &__input-filed {
    @media (max-width: $width_phone) {
      width: 50%;

      input {
        width: 100%;
      }
    }
  }


  input {
    &[type='text'], &[type='number'] {
      min-height: 28px;

      border: $border_light_gray;
      border-radius: 5px;

      color: black;
      font-size: 18px;
      font-weight: 600;

      @media (max-width: $width_phone) {
        font-size: 1.2rem;
      }

      &::placeholder {

        color: black;
        font-size: 15px;
        font-weight: 500;
        opacity: 0.5;

        @media (max-width: $width_phone) {
          font-size: 1.1rem;
        }
      }
    }
  }
}


.nzr-calc-table-helper {
  display: none;

  @media (max-width: $width_phone) {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  &__text {
    margin-bottom: -7px;

    font-size: 14px;
    text-align: center;
  }

  &__img {
    margin: auto;
    max-width: 50px;
  }
}

.nzr-calc-table {
  border-collapse: collapse;
  margin-bottom: 40px;

  width: 100%;
  overflow-x: auto;
  display: inline-block;

  td {
    padding: 5px 10px;
    border: $border_light_gray;

    font-size: 22px;
    text-align: center;

    @media (max-width: $width_phone) {
      padding: 4px 2px;
      font-size: 1.2rem;
    }
  }

  thead {
    td {
      font-size: 22px;
      font-weight: 600;
      color: white;
      background: #232222;
    }
  }
}