$width_phone: 400px;

$green_active: rgba(50,170,50,0.8);
$green_light: rgba(50,200,50,0.2);

$border_light_gray: 1px solid rgba(200,200,200,0.4);

.nzr-calc-container {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 100%;

  box-sizing: border-box;
  padding: 0 20px;

  @media (max-width: $width_phone) {
    padding: 0 5px;
  }

  * {
    font-family: 'Laila', "Gill Sans", sans-serif;
  }
}

.nzr-calc-way {
  display: flex;
  align-content: center;
  justify-content: center;

  margin: 10px auto 40px;

  div {
    font-size: 20px;
    font-weight: 600;
    color: gray;

    background: rgba(50,200,50,0.08);

    @media (max-width: $width_phone) {
      font-size: 1.3rem;
    }

    &.is-active {
      color: white;

      background: $green_active;
    }
  }

  &__point {
    width: 30px;
    height: 30px;

    border-radius: 5px;

    text-align: center;
    line-height: 30px;
  }

  &__line {
    width: 50px;
    height: 2px;

    margin: auto 0;
  }
}

.nzr-calc-button {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid rgba(200,200,200,0.2);
  border-radius: 5px;

  text-align: center;
  cursor: pointer;

  background: $green_light;

  transition: all 0.2s;

  @media (max-width: $width_phone) {
    font-size: 1rem;
  }

  &:hover {
    color: white;
    background: $green_active;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
}

.nzr-calc-section-1 {
  &__title {
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 700;
    text-align: center;

    @media (max-width: $width_phone) {
      font-size: 1.1rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;

    @media (max-width: $width_phone) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}


.nzr-calc-section-2 {
  &__text {
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 700;
    text-align: center;

    @media (max-width: $width_phone) {
      font-size: 1.1rem;
    }
  }
}

.nzr-calc-form {

  &__row {
    display: flex;
    align-content: flex-start;

    margin-bottom: 10px;
  }

  &__input-title {
    width: 350px;

    box-sizing: border-box;
    padding-right: 20px;

    @media (max-width: $width_phone) {
      width: 50%;
      font-size: 1rem;
    }
  }

  &__input-filed {
    @media (max-width: $width_phone) {
      width: 50%;

      input {
        width: 100%;
      }
    }
  }


  input {
    &[type='text'], &[type='number'] {
      min-height: 28px;

      border: $border_light_gray;
      border-radius: 5px;

      color: black;
      font-size: 16px;
      font-weight: 600;

      @media (max-width: $width_phone) {
        font-size: 1rem;
      }

      &::placeholder {

        color: black;
        font-size: 14px;
        font-weight: 500;
        opacity: 0.5;

        @media (max-width: $width_phone) {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.nzr-calc-section-3 {
  &__text {
    margin-bottom: 25px;
    font-size: 16px;

    @media (max-width: $width_phone) {
      font-size: 1rem;
    }

    span {
      font-size: inherit;
      font-weight: 600;

      @media (max-width: $width_phone) {
        font-size: 1rem;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;

    @media (max-width: $width_phone) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.nzr-calc-table {
  border-collapse: collapse;
  margin-bottom: 40px;

  width: 100%;
  overflow-x: auto;
  display: inline-block;

  td {
    padding: 5px 10px;
    border: $border_light_gray;
    text-align: center;

    @media (max-width: $width_phone) {
      padding: 4px 2px;
      font-size: 1rem;
    }
  }

  thead {
    td {
      font-weight: 600;
      background: $green_light;
    }
  }
}

.nzr-calc-contact {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__bg {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0,0,0,0.3);
  }

  &__box {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 350px;
    height: 370px;

    border-radius: 5px;
    background: white;

    .amoforms_iframe {
      position: absolute !important;;
      height: auto!important;
      min-height: 100%!important;
      margin: 0!important;
      z-index: 1!important;
    }
  }

  &__close {
    z-index: 2;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 25px;
    height: 25px;

    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;

      width: 15px;
      height: 2px;
      background: red;
    }
    &:after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &:before {
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
}